{{#each this}}
<div class="countryInfo-flex-js">
    <img src="{{flags.png}}" alt="{{name.official}}">
    <p>{{name.official}}</p>
</div>
<p>Capital: {{capital}}</p>
<p>Population: {{population}}</p>
<p>Languages: {{#each languages}} 
    {{#if @last}} {{this}}
    {{else}} {{this}}, 
    {{/if}}{{/each}}</p>
{{/each}}